<div>

{{!-- <img src="../../../../assets/icon.png"> --}}

<strong>Olá</strong>
<p>Houve uma nova matricula, confira os detalhes abaixo:</p>
<p>
  <strong>Aluno: </strong> {{student}}<br/>
  <strong>Início: </strong> {{start}}<br/>
  <strong>Fim: </strong> {{end}}<br/>
  <strong>Plano: </strong> {{plan}}<br/>
  <strong>Valor: </strong> {{price}}<br/>

  <br/>
</p>
</div>
